@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-dark_color: #343C4A;
  --color-darker: #242A35;
  --color-dark_lighter_bg: #6C6C6C;
  --color-light_header: #F8F8F8;
  --color-light_color: #D9D9D9;
  --color-darker_light: #9E9E9E;
  --color-bread: #DDAB5A;
  --color-dark_bread: #B48842;
  --color-dark_grey: #8E8E8E;
  --color-plus: #00C8B3;
  --color-dark_plus: #00A190;
  --color-truck: #E3BC50;
  --color-dark_truck: #B3933A;
  --color-money: #76DD5C;
  --color-dark_money: #62BE4B;

  --color-danger-subtle: #fde8e8; 
  --color-fg-danger: #9b1c1c;    

  --color-success-subtle: #def7ec; 
  --color-fg-success: #03543f;   

  --color-warning-subtle: #fdf6b2; 
  --color-fg-warning: #723b10;
}

@source inline("bg-{danger,success,warning}-subtle");

.datatable-pagination ul {
  @apply flex items-center space-x-1 list-none p-0 m-0;
}

.datatable-pagination li,
.datatable-pagination a,
.datatable-pagination button {
  @apply inline-flex items-center justify-center px-2 py-1 text-sm font-medium text-gray-500 rounded-md cursor-pointer;
}

.datatable-pagination .active a,
.datatable-pagination .datatable-active a {
  @apply bg-blue-600 text-white border-blue-600 dark:bg-blue-500 dark:text-white;
}

.datatable-search {
  @apply w-2/3;
}

.datatable-search .datatable-input {
  @apply bg-gray-50 text-gray-900 text-sm rounded-lg block w-full p-2 dark:bg-gray-600 border-none dark:placeholder-gray-400 dark:text-white;
}

.custom-datatable thead {
  @apply text-sm;
}

.custom-datatable th {
  @apply px-4 py-4 bg-gray-400/70 dark:bg-gray-600 dark:text-gray-300 text-gray-700 uppercase text-center text-nowrap;
}

.custom-datatable tbody tr {
  @apply border-b dark:border-gray-700 dark:even:bg-gray-800/50 even:bg-gray-100 hover:bg-gray-200 transition duration-500 dark:hover:bg-gray-600;
}

.custom-datatable td {
  @apply px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center;
}

.custom-datatable {
  border-collapse: separate !important;
  border-spacing: 0 !important;
}

.custom-datatable thead th:first-child {
  @apply rounded-tl-lg rounded-bl-lg;
}

.custom-datatable thead th:last-child {
  @apply rounded-tr-lg rounded-br-lg;
}

.custom-datatable tbody tr td:first-child {
  @apply rounded-tl-full !rounded-bl-full;
}

.custom-datatable tbody tr td:last-child {
  @apply rounded-tr-full !rounded-br-full;
}

.datatable-sorter {
  @apply uppercase;
}

.custom-datatable thead th {
  border: 0;
  background-clip: padding-box;
}

body {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

th[data-sortable="true"] {
  text-align: center !important;
}

th[data-sortable="true"]::after {
  content: "";
  display: inline-block;
  @apply w-3 h-3 ml-2 bg-gray-700;
  mask: url("data:image/svg+xml,%3Csvg fill='none' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2.4' d='M7 16V4m0 0L3 8m4-4l4 4m6 0v12m0 0l4-4m-4 4l-4-4'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  mask-size: contain;
} 

.dark th[data-sortable="true"]::after {
  background-color: var(--color-gray-300) !important;
}
